{% extends "base.html" %}


{% block content %}

<h1 style="display: block;" class="mb-2">Authors:</h1>

<div class="row">
    {% for author in authors %}
    <div class="card d-inline-flex m-3" style="width: 18rem;">
        <img src="{{ author.profile_image.url }}" class="card-img-top" alt="..." style="height: 265px; width: 265px;">
        <div class="card-body">
            <h5 class="card-title">{{ author.name }}</h5>
            <p class="card-text">{{ author.bio }}</p>
            <a href="#" class="btn btn-primary">Author's Post</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}