{% extends 'base.html' %}


{% block header %}
{% load static %}
<style>
    #imageimport {
        background-image: url("{% static 'assets/img/tasks-bg.jpg' %}");
    }
</style>
<header class="masthead" id="imageimport">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Categories</h1>
                    <span class="subheading">This is a full list of all categories.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="m-5">
    <table class="table table-striped table-bordered caption-top">
        <caption style="text-align: center;">Category Detail</caption>
        <thead>
            <tr>
                <th scope=" col">NO.</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for item in category %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>

        <!-- <form method="POST" enctype="multipart/form-data">


            {% csrf_token %}


            {{ form.as_p }}

            <input type="submit" value="Submit">
        </form> -->

        <form class="d-flex col" role="create" method="POST" action="{% url 'category_detail' %}">
            {% csrf_token %}
            <input class="form-control me-2 text-white" type="create" placeholder="Category name" aria-label="create"
                name="name" style="background-color: black;">
            <input class="form-control me-2 text-white" type="create" placeholder="Category description"
                aria-label="create" name="description" style="background-color: black;">
            <button class=" btn btn-dark" type="submit" value="Submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}