{% extends 'base.html' %}


{% block header %}
{% load static %}
<style>
    #imageimport {
        background-image: url("{% static 'assets/img/task2-bg.jpg' %}");
    }
</style>
<header class="masthead" id="imageimport">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Tag Details</h1>
                    <span class="subheading">Complete info for the chosen tag.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content%}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="tag-entry">
                <div class="tag-preview">
                    <h2 class="tag-title">Tag Name: {{ tag.name }}</h2>
                </div>
                <br>
                <div>
                    <hr class="my-4">
                    <h2>Update your tag here:</h2>
                    <form class="d-flex row" role="create" method="POST" action="{% url 'update_tag' tag.pk %}">
                        {% csrf_token %}
                        <label for="name" class="form-label">Tag Name:</label>
                        <input class="form-control me-2 text-white m-2" type="create" value="{{ tag.name }}"
                            aria-label="create" name="name" style="background-color: black; height: 50px;">
                        <button class="btn btn-dark m-2" type="submit" value="Submit"
                            style="width: 10rem;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}